<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender:
         Outputs logs to the console. The pattern includes a timestamp, thread,
         log level, logger name, and prints all MDC (Mapped Diagnostic Context) key/value pairs using %X.
    -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} mdc=[%X] - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- OpenTelemetry Appender:
         Sends log events to an OpenTelemetry Collector with all MDC attributes are captured.

         OpenTelemetryAppender automatically puts trace_id and span_id into the logs so that it is possible to correlate them with traces
    -->
    <appender name="OpenTelemetry" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <captureMdcAttributes>*</captureMdcAttributes>
    </appender>

    <!-- Root Logger:
         Configures logging at INFO level and routes log events to both the console and OpenTelemetry appenders.
    -->
    <root level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="OpenTelemetry"/>
    </root>

</configuration>
